.App {
  display: flex;
}

.textarea {
  width: 1110px;
    height: 377px;
    margin: 10px;
}

.input {
  height: 30px;
  width: 500px;
  margin: 10px;
}

.Button {
  width: fit-content;
  border: none;
  height: 40px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #a73afd;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}