.App-container {
    width: 100vw;
    /*height: 100vh;*/
    overflow: hidden;
}

.App {
    display: flex;
}

.description {
    display: flex;
    margin: 10px;
    gap: 20px;

.Button {
    cursor: none;
    }
}

.textarea {
    width: 1110px;
    padding: 10px;
    height: 377px;
    margin: 10px;
    border-radius: 8px;
}

.input {
    height: 30px;
    width: 500px;
    margin: 10px;
    border-radius: 8px;
}

.Button {
    width: fit-content;
    border: none;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #a73afd;
    color: #ffffff;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.textarea-text {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px dashed black;
    width: calc(100vw - 40px);
    height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
