.App-container {
    width: 100vw;
}

.App {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 4fr 1fr 6fr 1fr;
    gap: 8px;
    margin: 10px;
    justify-items: center;
}

.textarea {
    width: 100%;
    padding: 10px;
    min-height: 377px;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
}

.input {
    height: 30px;
    width: 500px;
    border-radius: 8px;
}

.Button {
    width: fit-content;
    border: none;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #a73afd;
    color: #ffffff;
    position: sticky;
    top: 10px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.table {
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
}

.td {
    width: fit-content;
    border: 1px solid black;
    padding: 0 5px 0 5px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
